<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('build')
    ->exclude('docs')
    ->exclude('vendor')
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules(array(
        '@Symfony' => true,
        'braces' => false,
    ))
    ->setFinder($finder)
;
